:root {

    --cor-branco-padrao: rgb(255, 255, 255);
    --cor-azul-padrao: #3131D0;
    --cor-azul-claro: #2424AC;
    --cor-azul-escuro: #181881;
    --cor-azul-claro-25: rgba(49, 49, 208, .25);

    --tempo-transicao-padrao: .45s;

}

body {

    position: relative;
    margin: 0;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;

}

/* ----------------- SCROLL ----------------- */

*::-webkit-scrollbar {

    width: 4px;

}

/* ------------------ RESET ------------------ */

input:not([type="checkbox"]), button, textarea, a {

    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

button, a {

    transition: all var(--tempo-transicao-padrao);
    cursor: pointer;

}

/* -------------------------------------------- */

.main_container {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: 6.25rem auto;
    padding-bottom: 6.25rem;
    background-color: var(--cor-roxo-claro);

}