@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

/* --------------- LISTA DE CATEGORIAS - SOBRE --------------- */

.main_container .categorys_block {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    column-gap: 2.5rem;
    row-gap: 5rem;
    padding: 24.88rem 5.2% 15.315rem 5.2%;

}

.categorys_block .item_block {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23%;
    min-width: max-content;
    height: min-content;
    min-height: 32.3rem;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    padding: 0 1.56rem 1.56rem 1.56rem;

}

.item_block .category_imagem_block {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 19.5625rem;

}

.item_block .category_imagem_block figure {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -31px;
    width: 100%;
    height: 100%;
    background: var(--cor-azul-escuro);

}

.item_block .category_description {

    display: grid;
    place-items: center;

}

.item_block .category_description h3 {

    min-height: 28px;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: .1875rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem;

}

.item_block .category_description p {

    max-width: 20rem;
    min-height: 28px;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1425rem;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;

}

.item_block .category_description button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.875rem;
    margin-top: 1.44rem;
    background-color: var(--cor-azul-escuro);
    gap: 8%;

}

.item_block .category_description button span {

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;
    transition: var(--tempo-transicao-padrao);

}

.item_block .category_description button:hover span {

    letter-spacing: .15rem;

}

/* ---------- PADRÃO CATEGORIAS ---------- */

.main_title_box {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.main_title_box h1 {

    font-size: 3rem;
    text-align: center;
    letter-spacing: .15625rem;
    max-width: 85.75rem;

}

.main_title_box span {

    font-weight: 700;

}

.container_box {

    width: 100%;
    min-height: 24.5rem;
    background-color: var(--cor-branca-padrao);
    position: relative;
    border-radius: 50px 50px 0px 0px;
    margin-top: 19rem;

}

.container_box img {

    top: -300px;
    position: absolute;
    width: 100%;

}

.back_box {

    display: grid;
    gap: 13.5rem;
    padding: 17.62rem 2.5rem 17.56rem 2.5rem;
    border-radius: 3.125rem 3.125rem 0 0;
    background-color: var(--cor-branca-padrao);
    justify-items: center;

}

/* ---------- LOGÍSTICA ---------- */

#logistics .main_title_box {

    padding: 23.13rem 1rem 0 1rem;

}

#logistics .back_box {

    border-radius: 0;

}

.back_box .step_block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97.4375rem;
    gap: 7%;

}

.back_box .step_block .circle_number_step {

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22.3125rem;
    min-height: 22.3125rem;
    height: 22.3125rem;
    border-radius: 50%;
    background: var(--cor-azul-padrao);
    box-shadow: 0px 0px 57.6px 0px rgba(0, 0, 0, 0.45);

}

.back_box .step_block .circle_number_step span {

    color: transparent;
    text-align: center;
    -webkit-text-stroke-color: var(--cor-branca-padrao);
    -webkit-text-stroke-width: 2px;
    font-size: 13.5rem;
    font-weight: 700;

}

.back_box .step_block .step_content h2 {

    font-size: 4.0625rem;
    font-weight: 900;
    letter-spacing: .20313rem;
    color: var(--cor-azul-padrao);
    margin-bottom: .88rem;

}

.back_box .step_block .step_content p {

    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    color: var(--cor-azul-padrao);

}

/* ---------- LOCALIZAÇÃO ---------- */

#location .main_title_box {

    padding: 21.25rem 1rem 14.31rem 1rem;
    background-image: url(../geral/assets/WorldImg.png);

}

#location .back_box {

    display: flex;
    justify-content: space-between;
    padding: 10rem 7rem 9.435rem 7rem;
    gap: 5rem;

}

.back_box .top_location_title {

    margin-bottom: 6.25rem;

}

.back_box .top_location_title h2 {

    font-size: 4.6875rem;
    font-weight: 700;
    color: var(--cor-azul-padrao);
    margin-bottom: 1rem;

}

.back_box .top_location_title p {

    font-size: 1.5625rem;
    font-weight: 500;
    color: var(--cor-azul-padrao);

}

.back_box .location_block .location_boxes {

    display: grid;
    gap: 6.25rem;

}

.location_block .location_boxes .location_desc {

    max-width: 43.25rem;

}

.location_boxes .location_desc > * {

    display: flex;
    font-size: 1.875rem;
    color: var(--cor-azul-padrao);

}

.location_boxes .location_desc h3 {

    font-weight: 700;

}

.location_boxes .location_desc span {

    font-weight: 500;

}

/* ---------- POLÍTICAS ---------- */

#policies .main_title_box {

    padding: 21.25rem 1rem 11.438rem 1rem;

}

#policies .main_title_box h1 {

    max-width: 85.72rem;

}

.policies_description {

    color: var(--cor-azul-padrao);
    padding: 6.063rem 3.75rem 9.813rem 3.75rem;
    gap: 0;

}

.policies_description h1 {

    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
    font-weight: 700;
    font-size: 4.688rem;

}

.policies_description > div {

    display: grid;
    gap: 1.65rem;
    margin-bottom: 1.8rem;
    width: 100%;

}

.policies_description p {

    font-size: 1.563rem;
    font-weight: 500;

}

.policies_description h2 {

    font-size: 2.188rem;
    font-weight: 800;

}

.policies_description h3 {

    font-size: 1.563rem;
    font-weight: 700;

}

.policies_description .mb h3 {

    margin-bottom: 1.1rem;

}

/* ---------- NOSSA EMPRESA ---------- */

#company .main_title_box {

    padding: 22.17rem 1rem 14.93rem 1rem;
    background-image: url(../geral/assets/WorldImg.png);

}

.contact_us_box {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.88rem;
    width: 100%;
    background-color: var(--cor-branca-padrao);
    border-radius: 3.125rem;
    padding: 5.5rem 1rem;

}

.contact_us_box h2 {

    font-size: 4.6875rem;
    font-weight: 700;
    text-align: center;
    color: var(--cor-azul-padrao);

}

.contact_us_box p {

    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
    color: var(--cor-azul-padrao);
    max-width: 98.1875rem;

}

.contact_us_box .contact_us_btn {

    display: flex;
    align-items: center;
    gap: 2.94rem;
    background-color: var(--cor-azul-escuro);
    padding: 0 1.75rem 0 6.5rem;
    height: 3.875rem;

}

.contact_us_box .contact_us_btn span {

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;

}

.time_line_box  {

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6.62rem 1rem 14rem 1rem;

}

.time_line_box .tl_top {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.56rem;
    margin-bottom: 7.94rem;

}

.time_line_box .tl_top h3 {

    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-align: center;

}

.time_line_box .tl_img img {

    padding-left: 3.6%;


}