@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

/* --------------- LISTA DE CATEGORIAS - SOBRE --------------- */

.main_container .categorys_block {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    column-gap: 2.5rem;
    row-gap: 5rem;
    padding: 24.88rem 5.2% 15.315rem 5.2%;

}

.categorys_block .item_block {

    width: 23%;
    min-width: max-content;
    height: min-content;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    padding: 0 1.56rem 1.56rem 1.56rem;

}

.item_block .category_imagem_block {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 19.5625rem;

}

.item_block .category_imagem_block figure {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -31px;
    width: 100%;
    height: 100%;
    background: var(--cor-azul-escuro);

}

.item_block .category_description {

    display: grid;
    place-items: center;

}

.item_block .category_description h3 {

    min-height: 28px;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: .1875rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem;

}

.item_block .category_description p {

    max-width: 20rem;
    min-height: 28px;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1425rem;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;

}

.item_block .category_description button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.875rem;
    margin-top: 1.44rem;
    background-color: var(--cor-azul-escuro);
    gap: 8%;

}

.item_block .category_description button span {

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;
    transition: var(--tempo-transicao-padrao);

}

.item_block .category_description button:hover span {

    letter-spacing: .15rem;

}

/* ---------- LOGISTICA ---------- */

.main_title_box {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 23.13rem 1rem 0 1rem;

}

.main_title_box h1 {

    font-size: 3rem;
    text-align: center;
    letter-spacing: .15625rem;
    max-width: 85.75rem;

}

.main_title_box span {

    font-weight: 700;

}

.container_box {

    width: 100%;
    min-height: 24.5rem;
    background-color: var(--cor-branca-padrao);
    position: relative;
    border-radius: 50px 50px 0px 0px;
    margin-top: 19rem;

}

.container_box img {

    top: -300px;
    position: absolute;
    width: 100%;

}

.steps_box {

    display: grid;
    gap: 13.5rem;
    padding: 17.62rem 2.5rem 17.56rem 2.5rem;
    background-color: var(--cor-branca-padrao);
    justify-items: center;

}


.steps_box .step_block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97.4375rem;
    gap: 7%;

}

.steps_box .step_block .circle_number_step {

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22.3125rem;
    min-height: 22.3125rem;
    height: 22.3125rem;
    border-radius: 50%;
    background: var(--cor-azul-padrao);
    box-shadow: 0px 0px 57.6px 0px rgba(0, 0, 0, 0.45);

}

.steps_box .step_block .circle_number_step span {

    color: transparent;
    text-align: center;
    -webkit-text-stroke-color: var(--cor-branca-padrao);
    -webkit-text-stroke-width: 2px;
    font-size: 13.5rem;
    font-weight: 700;

}

.steps_box .step_block .step_content h2 {

    font-size: 4.0625rem;
    font-weight: 900;
    letter-spacing: .20313rem;
    color: var(--cor-azul-padrao);
    margin-bottom: .88rem;

}

.steps_box .step_block .step_content p {

    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    color: var(--cor-azul-padrao);

}

/* -------------------------------- */

