@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

#home_page .initial_box {

    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;

}

.background_filter {
    
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 208, .85);
    overflow: hidden;

}

.imagem_principal {

    position: absolute;
    background-image: url(../geral/assets/Ship.png);
    background-repeat: no-repeat;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: -1;

}

.image_blur {

    width: 100%;
    height: 100%;
    background-color: rgba(13, 24, 44, .01);
    backdrop-filter: blur(2.5px);
    z-index: 12;

}

.image_ligths {

    display: flex;
    align-items: center;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -200px;
    left: 175px;
    overflow: hidden;
    transform: rotate(14deg);
    
}

.image_ligths .light_strip {
    
    height: 100%;
    background-color: rgba(0, 0, 0, .03);

}

.image_ligths .light_strip:nth-child(1) {

    width: 40.5rem;
    margin-right: 32px;

}

.image_ligths .light_strip:nth-child(2) {

    width: 32rem;
    margin-right: 40px;

}

.image_ligths .light_strip:nth-child(3) {

    min-width: 20em;
    margin-right: 48px;

}

.image_ligths .light_strip:nth-child(4) {

    min-width: 14.75rem;

}

.main_title {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.main_title h1 {

    font-size: 3rem;
    font-family: Montserrat Alternates;
    letter-spacing: .15625rem;
    text-align: center;
    max-width: 85rem;
    
}

.main_title h1 span {

    font-weight: 700;
    
}

.general_informations_block {

    display: flex;
    gap: 8.7rem;
    width: 100%;
    background-color: var(--cor-branca-padrao);
    border-radius: 3.125rem;
    box-shadow: 0px 3px 100px 0px rgba(0, 0, 0, .45);
    padding: 7rem;
    z-index: 500;
    margin-top: -50px;
    z-index: 101;

}

.general_informations_block .main_informations, .general_informations_block .informations_balloons {

    width: 50%;

}

.general_informations_block .main_informations h2 {

    font-size: 5rem;
    color: var(--cor-azul-padrao);
    font-weight: 800;
    letter-spacing: .25rem;

}

.general_informations_block .main_informations p {

    color: var(--cor-azul-padrao);
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: .03125rem;
    max-width: 48.75rem;

}

.general_informations_block .main_informations button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .88rem 0;
    width: 100%;
    border-radius: 100px;
    background-color: var(--cor-azul-padrao);


}

/* ------------------------------------------------ */