@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

#home_page .initial_box {

    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;

}

.background_filter {
    
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 208, .85);
    overflow: hidden;

}

.imagem_principal {

    position: absolute;
    background-image: url(../geral/assets/Ship.png);
    background-repeat: no-repeat;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: -1;

}

.image_blur {

    width: 100%;
    height: 100%;
    background-color: rgba(13, 24, 44, .01);
    backdrop-filter: blur(2.5px);
    z-index: 12;

}

.image_ligths {

    display: flex;
    align-items: center;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -200px;
    left: 175px;
    overflow: hidden;
    transform: rotate(14deg);
    
}

.image_ligths .light_strip {
    
    height: 100%;
    background-color: rgba(0, 0, 0, .03);

}

.image_ligths .light_strip:nth-child(1) {

    width: 40.5rem;
    margin-right: 32px;

}

.image_ligths .light_strip:nth-child(2) {

    width: 32rem;
    margin-right: 40px;

}

.image_ligths .light_strip:nth-child(3) {

    min-width: 20em;
    margin-right: 48px;

}

.image_ligths .light_strip:nth-child(4) {

    min-width: 14.75rem;

}

.main_title {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.main_title h1 {

    font-size: 3rem;
    font-family: Montserrat Alternates;
    letter-spacing: .15625rem;
    text-align: center;
    max-width: 85rem;
    
}

.main_title h1 span {

    font-weight: 700;
    
}

.general_informations_block {

    display: flex;
    gap: 8.7rem;
    width: 100%;
    background-color: var(--cor-branca-padrao);
    border-radius: 3.125rem;
    box-shadow: 0px 3px 100px 0px rgba(0, 0, 0, .45);
    padding: 7rem;
    padding: 7rem 5.85%;
    margin-top: -50px;    

}

.general_informations_block .main_informations h2 {

    font-size: 5rem;
    color: var(--cor-azul-padrao);
    font-weight: 800;
    letter-spacing: .25rem;
    margin-bottom: 12px;

}

.general_informations_block .main_informations p {

    color: var(--cor-azul-padrao);
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: .03125rem;
    max-width: 48.75rem;
    margin-bottom: 30px;

}

.general_informations_block .main_informations button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .88rem 0;
    width: 100%;
    border-radius: 100px;
    background-color: var(--cor-azul-padrao);
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .15625rem;

}

.general_informations_block .main_informations button:hover {

    letter-spacing: .32rem;

}

.general_informations_block .main_informations, .general_informations_block .informations_balloons {

    width: 50%;

}

.general_informations_block .informations_balloons {

    display: grid;
    gap: 15px;

}

.general_informations_block .info_balloon {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 33.33%;
    border-radius: 2.4375rem;
    background-color: #F6F6F6;

}

.general_informations_block .info_balloon:nth-child(2) {

    background-color: var(--cor-azul-padrao);
    gap: 1.81rem;

}

.general_informations_block .info_balloon {

    width: 100%;
    height: 100%;
    border-radius: 2.4375rem;
    background-color: #F6F6F6;

}

.general_informations_block .info_balloon .ident_circle {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca-padrao);
    text-align: center;
    font-size: 2.1875rem;
    letter-spacing: .10938rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 6.25rem;
    background: var(--cor-azul-padrao);

}

.general_informations_block .info_balloon p {

    font-size: 1.5625rem;
    color: var(--cor-azul-padrao);
    font-weight: 600;
    letter-spacing: .07813rem;
    max-width: 36.375rem;

}

.general_informations_block .info_balloon:nth-child(2) p {

    font-size: 1.375rem;
    font-weight: 500; 
    letter-spacing: .06875rem;
    color: var(--cor-branca-padrao);

}

.main_container .products_list {

    display: flex;
    justify-content: center;
    gap: 6.25rem;
    margin: 7.81rem 0 10.935rem 0;
    padding: 0 5%;
    position: relative;
    
}

.products_list .item_box {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8.38rem;
    width: 100%;
    height: 26.8125rem;
    background-color: rgba(30, 30, 118, .25);
    box-shadow: 0px 4px 100px rgba(0, 0, 0, .45);
    border-radius: 38px;
    padding: 2.5rem 4rem 0 0;
    position: relative;

}

.products_list .item_box img {

    position: absolute;
    bottom: 0;
    left: 5.2%;

}

.products_list .main_item_information {

    height: 100%;

}

/* ------------------------------------------------ */