@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

/* --------------- LISTA DE PRODUTOS --------------- */

.main_container .category_block {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    column-gap: 2.5rem;
    row-gap: 6rem;
    padding: 24.25rem 5.2% 15.315rem 5.2%;

}

.category_block .item_block {

    height: min-content;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    padding: 0 1.56rem 1.56rem 1.56rem;

}

.item_block .product_imagem_block {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 8.3rem;

}

.item_block .product_imagem_block figure {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    width: 9.375rem;
    height: 9.375rem;
    background: var(--cor-azul-escuro);

}

.item_block .product_description {

    display: grid;
    place-items: center;

}

.item_block .product_description h3 {

    min-height: 28px;
    font-size: 1.4375rem;
    font-weight: 700;
    letter-spacing: .14375rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem;

}

.item_block .product_description p {

    max-width: 20rem;
    min-height: 28px;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: .06875rem;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;

}

.item_block .product_description button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.875rem;
    margin-top: 2.26rem;
    background-color: var(--cor-azul-escuro);
    gap: 8%;

}

.item_block .product_description button span {

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;
    transition: var(--tempo-transicao-padrao);

}

.item_block .product_description button:hover span {

    letter-spacing: .15rem;

}

/* --------------- LISTA SOBRE --------------- */

.main_container .category_product_block {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16.94rem 4.88rem 11.75rem 6.25rem;

}

.category_product_block .category_name_block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45.25rem;
    max-width: min-content;
    gap: 3.2rem;
    height: 7.875rem;
    padding: 0 3.8rem 0 2.88rem;
    background-color: var(--cor-azul-claro);
    margin-bottom: 2.1rem;

}

.category_product_block .category_name_block h2 {

    font-size: 3.125rem;
    font-weight: 800;
    letter-spacing: .15625rem;
    text-transform: uppercase;
    text-wrap: nowrap;

}

.category_product_block .category_name_block p {

    font-size: .9375rem;
    font-weight: 500;
    letter-spacing: .44531rem;
    text-transform: uppercase;

}

.category_product_block .category_name_block figure {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    max-height: 100%;

}

/* ---------- */

.category_product_block .itens_main_table {

    width: 100%;

} 

.itens_main_table .columns_titles {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.19rem 0 3.25rem;
    margin-bottom: 1.31rem;

}

.itens_main_table .columns_titles span, .itens_main_table .rows_boxs li span {

    width: 100%;
    font-size: 1.5625rem;
    letter-spacing: .15625rem;
    text-transform: uppercase;

}

.itens_main_table .columns_titles span:first-child, .itens_main_table .rows_boxs li span:first-child {

    width: max-content;
    min-width: 12%;

}

.itens_main_table .columns_titles span:last-child {

    min-width: 11.25rem;
    width: 11.25rem;
    margin-left: 4rem;
    
}

.itens_main_table .rows_boxs {

    display: grid;
    gap: 10px;
    width: 100%;
    padding: 1.56rem;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    max-height: 43rem;
    scroll-behavior: smooth;
    overflow: auto;

}

.itens_main_table .rows_boxs li {

    display: flex;
    justify-content: space-between;
    min-height: 3.8rem;
    padding: .63rem .63rem .63rem 1.88rem;

}

.itens_main_table .rows_boxs li:nth-child(2n + 1) {

    background-color: var(--cor-azul-escuro);

}

.itens_main_table .rows_boxs li span {

    font-weight: 700;
    letter-spacing: .39063rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.itens_main_table .rows_boxs li span:first-child {

    letter-spacing: .74219rem;

}

.itens_main_table .rows_boxs li span:not(:last-child) {

    margin: .37rem 0;

}

.itens_main_table .rows_boxs li button {

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 11.25rem;
    min-height: 100%;
    background-color: var(--cor-azul-escuro);
    text-align: center;
    font-size: .9375rem;
    letter-spacing: .225rem;
    text-transform: uppercase;
    margin-left: 4rem;
    
}

.itens_main_table .rows_boxs li:nth-child(2n + 1) button {

    background-color: var(--cor-azul-claro);
    
}

.itens_main_table .rows_boxs li button:hover {

    letter-spacing: .15rem;
    
}

.itens_main_table li span:not(:first-child) {

    text-align: center;

}

.itens_main_table .rows_boxs::-webkit-scrollbar {
    
    width: 9px;

}
  
.itens_main_table .rows_boxs::-webkit-scrollbar-thumb {
    
    background: var(--cor-azul-escuro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);

}
  
.itens_main_table .rows_boxs::-webkit-scrollbar-track {

    background: rgba(36, 36, 172, .75);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);

}

/* ---------- VER MAIS ---------- */

.main_container .block_see_more {

    width: 100%;
    position: relative;

}

.main_container .block_see_more .background_img {

    position: absolute;
    top: -265px;
    min-width: 100%;
    height: 106.375rem;
    background-image: url(../geral/assets/FilterImg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.main_container .block_see_more .see_more_background {

    display: grid;
    gap: 4rem;
    width: auto;
    height: min-content;
    min-height: 5rem;
    border-radius: 3.125rem;
    border: 2px solid rgba(255, 255, 255, .1);
    background: linear-gradient(180deg, rgba(36, 36, 172, 0.00) 0%, rgba(36, 36, 172, 0.80) 122.52%);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, .15);
    backdrop-filter: blur(17.5px);
    margin: 16.55rem 6.25rem 0 6.25rem;
    padding: 3.56rem 3.35rem 7.5rem 3.35rem;
    z-index: 50;

}

.main_container .block_see_more h1, .main_container .block_see_more h2 {

    width: 100%;
    text-align: center;
    font-weight: 800;
    letter-spacing: .625rem;
    text-transform: uppercase;

}

.main_container .block_see_more h1 {

    font-size: 6.25rem;

}

.main_container .block_see_more h2 {

    font-size: 2.5rem;
    margin-bottom: 1.5rem;

}
  
.main_container .block_see_more p {

    text-align: center;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: .15625rem;
    text-transform: uppercase;

}

.main_container .block_see_more p:not(:last-child) {

    margin-bottom: 2.2rem;

}

.main_container .block_see_more p span {

    font-weight: 800;

}

.main_container .block_see_more p span::before {

    content: '• ';

}

/* ----- */

.main_container .budget_block {

    /* position: relative;
    top: -82px;
     */
    width: 100%;
    height: 100%;
    background-color: var(--cor-branca-padrao);
    border-radius: 3.125rem 3.125rem 0 0;
    padding: 10.25rem 6.56rem 7.255rem 6.56rem;
    margin-top: -82px;
    user-select: none;
    z-index: -1;

}

.main_container .budget_block h1 {

    font-size: 6.25rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: .625rem;
    text-transform: uppercase;
    color: var(--cor-azul-claro);

}

.main_container .budget_block .budget_form {

    margin-top: 2.81rem;

}

.main_container .budget_block .budget_form .inputs_grid {

    display: grid;
    column-gap: 4%;
    row-gap: 4.25rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2.44rem;

}

.budget_block .budget_form .input_block {

    display: flex;
    flex-direction: column;
    min-width: 20rem;

}

.budget_block .budget_form .input_block label {

    color: var(--cor-azul-claro);
    font-size: 1.5625rem;
    font-weight: 700;
    letter-spacing: .15625rem;
    text-transform: uppercase;
    margin-bottom: 1.19rem;

}

.budget_block .budget_form .input_block input {

    width: 100%;
    height: 5.75rem;
    border-radius: .3125rem;
    border-top: 2px solid rgba(255, 255, 255, .05);
    border-left: 2px solid rgba(255, 255, 255, .05);
    background: rgba(216, 216, 216, 0.25);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-azul-escuro);
    padding: 0 1rem 0 1.5rem;
    
}

.budget_block .budget_form .btn_form_box {

    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.budget_block .budget_form .btn_form_box button {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 14.3125rem;
    height: 2.9375rem;
    background-color: var(--cor-azul-padrao);
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .125rem;
    border-radius: 6px;

}

.budget_block .budget_form .btn_form_box button:hover {

    letter-spacing: .4rem;

}