@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap');

/* --------------- LISTA DE PRODUTOS --------------- */

.main_container .category_block {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    column-gap: 2.5rem;
    row-gap: 6rem;
    padding: 24rem 6.25rem 14.06rem 6.25rem;

}

.category_block .item_block {

    height: min-content;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    padding: 0 1.56rem 1.56rem 1.56rem;

}

.item_block .product_imagem_block {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 8.3rem;

}

.item_block .product_imagem_block figure {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    width: 9.375rem;
    height: 9.375rem;
    background: var(--cor-azul-escuro);

}

.item_block .product_description {

    display: grid;
    place-items: center;

}

.item_block .product_description h3 {

    min-height: 28px;
    font-size: 1.4375rem;
    font-weight: 700;
    letter-spacing: .14375rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem;

}

.item_block .product_description p {

    max-width: 20rem;
    min-height: 28px;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: .06875rem;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;

}

.item_block .product_description button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.875rem;
    margin-top: 2.26rem;
    background-color: var(--cor-azul-escuro);
    gap: 8%;

}

.item_block .product_description button span {

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .25rem;
    transition: var(--tempo-transicao-padrao);

}

.item_block .product_description button:hover span {

    letter-spacing: .15rem;

}

/* --------------- LISTA SOBRE --------------- */

.main_container .category_product_block {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16.94rem 4.88rem 11.75rem 6.25rem;

}

.category_product_block .category_name_block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45.25rem;
    height: 7.875rem;
    padding: 0 3.8rem 0 2.88rem;
    background-color: var(--cor-azul-claro);
    margin-bottom: 2rem;

}

.category_product_block .category_name_block h2 {

    font-size: 3.125rem;
    font-weight: 800;
    letter-spacing: .15625rem;
    text-transform: uppercase;

}

.category_product_block .category_name_block p {

    font-size: .9375rem;
    font-weight: 500;
    letter-spacing: .44531rem;
    text-transform: uppercase;

}

.category_product_block .category_name_block figure {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    max-height: 100%;

}

/* ---------- */

.category_product_block .itens_main_table {

    width: 100%;

} 

.itens_main_table .columns_titles {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.19rem 0 3.25rem;
    margin-bottom: 1.31rem;

}

.itens_main_table .columns_titles span, .itens_main_table .rows_boxs li span {

    width: 100%;
    font-size: 1.5625rem;
    letter-spacing: .15625rem;
    text-transform: uppercase;

}

.itens_main_table .columns_titles span:first-child, .itens_main_table .rows_boxs li span:first-child {

    width: max-content;
    min-width: 12%;

}

.itens_main_table .columns_titles span:last-child {

    min-width: 11.25rem;
    width: 11.25rem;
    margin-left: 4rem;
    
}

.itens_main_table .rows_boxs {

    display: grid;
    gap: 10px;
    width: 100%;
    padding: 1.56rem;
    background-color: var(--cor-azul-claro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);
    max-height: 43rem;
    scroll-behavior: smooth;
    overflow: auto;

}

.itens_main_table .rows_boxs li {

    display: flex;
    justify-content: space-between;
    padding: .63rem .63rem .63rem 1.88rem;

}

.itens_main_table .rows_boxs li:nth-child(2n + 1) {

    background-color: var(--cor-azul-escuro);

}

.itens_main_table .rows_boxs li span {

    font-weight: 700;
    letter-spacing: .39063rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.itens_main_table .rows_boxs li span:first-child {

    letter-spacing: .74219rem;

}

.itens_main_table .rows_boxs li span:not(:last-child) {

    margin: .37rem 0;

}

.itens_main_table .rows_boxs li button {

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 11.25rem;
    min-height: 100%;
    background-color: var(--cor-azul-escuro);
    text-align: center;
    font-size: .9375rem;
    letter-spacing: .225rem;
    text-transform: uppercase;
    margin-left: 4rem;
    
}

.itens_main_table .rows_boxs li:nth-child(2n + 1) button {

    background-color: var(--cor-azul-claro);
    
}

.itens_main_table .rows_boxs li button:hover {

    letter-spacing: .15rem;
    
}

.itens_main_table li span:not(:first-child) {

    text-align: center;

}

.itens_main_table .rows_boxs::-webkit-scrollbar {
    
    width: 9px;

}
  
.itens_main_table .rows_boxs::-webkit-scrollbar-thumb {
    
    background: var(--cor-azul-escuro);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);

}
  
.itens_main_table .rows_boxs::-webkit-scrollbar-track {

    background: rgba(36, 36, 172, .75);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .25);

}
  
